<%= form_for(@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@restaurant.errors.count, "error") %>
    prohibited this restaurant from being saved:</h2>

  <ul>
    <% @restaurant.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<br>
<div class="field" style="color:black ;">
  <%= f.label :Name %><br>
  <%= f.text_field :name %>
</div>
<br>
<div class="field" style="color:black ;">
  <%= f.label :website %><br>
  <%= f.text_field :website %>
</div>
<br>
<div class="field" style="color:black ;">
  <%= f.label :image %>
  <%= f.file_field :image %><br>
</div>
<br>
<div class="field" style="color:black ;">
  <%= f.label :opening %><br>
  <% Date::DAYNAMES.each do |day| %>
    <%= check_box_tag('restaurant[opening][]', day, checked: 1) %>
    <%= label_tag day %>
  <% end %>
</div>
<br>
<div class="field" style="color:black ;">
  <%= f.label :location %><br>
  <%= f.text_field :location %>
</div>
<br>

<div class="field" style="color:black ;">
  <%= f.label :vegan %>:
  <%= f.check_box :vegan %>
</div>
<br>
<div class="field" style="color:black ;">
  <%= f.label :comments %><br>
  <%= f.text_area :comments %>
</div>
<br>
<div class="actions" style="color:black ;">
  <%= f.submit %>
</div>
<% end %>
<br>
