<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= link_to root_path do %>
        <%= image_tag 'food1.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food2.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food3.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food4.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food5.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food6.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food7.jpg' %>
        <%end%>

      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food8.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food9.jpg' %>
        <%end%>
      </div>

      <div class="item">
        <%= link_to root_path do %>
        <%= image_tag 'food10.jpg' %>
        <%end%>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Container (The Band Section) -->
  <div id="band" class="container text-center">
    <section class="cd-intro"> 
      <h1 class="cd-headline rotate-1"> 
        <span>My favourite food is</span>
         <span class="cd-words-wrapper"> 
          <b class="is-visible" style="color:OrangeRed ;">pizza</b> 
          <b style="color:black;">sushi</b> 
          <b style="color:SaddleBrown;">steak</b> 
          <b style="color:red;">burger</b>
          <b style="color:GoldenRod;">Pasta</b>
          <b style="color:Gold;">checken</b>
          <b style="color:Orange ;">Lasagna</b>
          <b style="color:LightCoral;">Fish</b>
          <b style="color:green ;">Kebabs</b>
          <b style="color:Aqua;">Fajitas</b>
        </span> 
      </h1> 
    </section>
    <p>
      
    </p>
    <p>There’s nothing quite like sitting around with friends, having great conversations over a delicious meal, paired with wine or craft beer (cause we’re fancy like that). Food connects us. It brings families and friends together, and makes us happy.
      It can be our comfort and also our worst enemy. No matter how tumultuous your relationship with it might be; however, food is a necessity. And for that reason, it will continue to be a topic of conversation for generations to come..</p>
    <br>

    <div class="row">
      <div class="col-sm-4">
        <p class="text-center">
          
          <strong>Samuel Johnson</strong>
        </p>
        <a>
          He who does not mind his belly, will hardly mind anything else.
        </a>
        <div id="demo" class="collapse">
          <p>Guitarist and Lead Vocalist</p>
          <p>Loves long walks on the beach</p>
          <p>Member since 1988</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center">
          <strong>Virginia Woolf</strong>
        </p>
        <a>
          One cannot think well, love well, sleep well, if one has not dined well.
        </a>

      </div>
      <div class="col-sm-4">
        <p class="text-center">
          <strong>David Auerbach</strong>
        </p>
        <a>
          In wine there is wisdom, in beer there is strength, in water there is bacteria.
        </a>

      </div>
    </div>
  </div>

</body>
</html>
