<p>
  <div class='showpagefont'><strong>Name: </strong></div>
  <div class='showpage'><%= @restaurant.name.split(' ').map {|w| w.capitalize }.join(' ')%> </div>
</p>
<br>
<p>
  <div class='showpagefont'><strong>Website: </strong></div>
  <div class='showpage'><%= link_to @restaurant.website, "http://#{@restaurant.website}" %></div>
</p>
<br>
<p>
  <div class='showpagefont'><strong>Opening Days: </strong></div>
  <div class='showpage'><%= @restaurant.opening %></div>
</p>
<br>
<p>
  <div class='showpagefont'><strong>Vegan: </strong></div>
  <div class='showpage'><%= @restaurant.vegan %></div>
</p>
<br>
<p>
  <div class='showpagefont'><strong>Comments: </strong></div>
  <div class='comments'><%= @restaurant.comments %></div>
</p>
<br>

<p class='edit'>
    |
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
    |
    <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you Sure?' } %>
    |
    <%= link_to 'Back', restaurants_path %>
</p>
<br>
  
<div class='showpagefont'><strong>Address: </strong></div>
  <div class='showpage'><%=  @restaurant.location %> <br></div>
    <iframe
       width="600"
       height="450"
       frameborder="0" style="border:0"
       src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByvLVT63J7qkBgDe7VL50GvH3Ywcizf90
       &q=<%=@restaurant.location %>" allowfullscreen>
    </iframe>
    <br>
<p>
  <%= image_tag @restaurant.image.url( :medium, class: "restaurant_image") %>
</p> 




