<h5 style="color:#98C222;">
  <p id="notice"><%= notice %></p>
</h5>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @restaurant.website, "http://#{@restaurant.website}" %>
  
</p>

<p>
  <%= image_tag @restaurant.image.url( :medium, class: "restaurant_image") %>
</p>

<p>
  <strong>Opening Days:</strong>
  <%= @restaurant.opening %>
</p>


  <p>
    <strong>Vegan:</strong>
    <%= @restaurant.vegan %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= @restaurant.comments %>
  </p>

  <p class='edit'>
    |
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
    |
    <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you Sure?' } %>
    |
    <%= link_to 'Back', restaurants_path %>
  </p>


   <p>
<strong>Address:</strong>
  <%= @restaurant.location %><br>
    <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByvLVT63J7qkBgDe7VL50GvH3Ywcizf90
    &q=<%=@restaurant.location %>" allowfullscreen>
</iframe>
    <% for restaurant in @restaurant.nearbys(10) %>
  <li><%= link_to @restaurant.location, restaurant %> (<%= restaurant.distance.round(2) %> miles)</li>
<% end %>
  </p>
 