<!DOCTYPE html>
<html>
  <head>
    <title>LunchFinder</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <link async href="http://fonts.googleapis.com/css?family=Nova%20Flat" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          <div class="enjoy">Lunch Finder </div>
          <br>
        <ul class="nav nav-pills nav-stacked">
          <div id="cssmenu">
            <div class="shadow">
            <ul>
              <li class="active"><%= link_to 'Home', restaurants_home_page_path %></li>
              <li><%= link_to 'All Restaurant', restaurants_path %></li>
              <li><%= link_to 'New Restaurants', new_restaurant_path %></li>
              <li><%= link_to 'Suggestion', restaurants_redirect_to_random_path %></li>
              <li><%= link_to 'Suggestion(vegan)', restaurants_redirect_to_random_vegan_path %></li>
            </ul>
           </div>
          </div>
          
          <br>
          <%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search" %>
          <% end %>
        </div>

        <div class="col-sm-9">
          <br>
          <%= yield %>

          <p>
            <span class="badge"></span>

          </p>
          <br>

          <div class="row">
            <div class="col-sm-2 text-center"></div>
            <div class="col-sm-10"></div>
            <div class="col-sm-2 text-center"></div>
            <div class="col-sm-10">

              <div class="row">
                <div class="col-sm-2 text-center"></div>
                <div class="col-xs-10"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid"></footer>
  </body>
</html>



































